%ul.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#manual", :role => "tab"}= t("projects.manual_prototype")
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#existing", :role => "tab"}= t("projects.use_existing")

.tab-content
  #manual.tab-pane.active{:role => "tabpanel"}
    %br
    = render partial: "shippings/form", locals: {title: t('projects.new') , url: projects_path, submit_button: t('projects.save') , skip_type: true}
  #existing.tab-pane{:role => "tabpanel"}
    %br
    = render partial: "projects/form", locals: {title: t('projects.new') , url: projects_path, submit_button: t('projects.save')}